<div class="nav container w-75 mt-1 text-center p-1">
  <div class="row ms-4">
    {{#each list}}
      <div class="col"><a href="#{{titulo}}">{{titulo}}</a></div>
    {{/each}}

  </div>
  <a class="topo" href="#"><i class="bi bi-arrow-up-circle-fill"></i></a>
</div>

<form class="my-3 px-3" action="/add" method="post">
  <div class="row align-items-center">
    <div class="col-auto">
      <label class="form-label" for="titulo">Título</label>
      <input
        class="form-control"
        type="text"
        name="titulo"
        id="insTitulo"
        required
      />
    </div>
    <div class="col-auto">
      <label class="form-label" for="subtitulo">Sub-Título</label>
      <input class="form-control" type="text" name="subtitulo" />
    </div>
    <div class="col-auto">
      <label class="form-label" for="item">Item</label>
      <input class="form-control" type="text" name="item" />
    </div>
    <div class="col">
      <label class="form-label" for="text">Texto</label>
      <input class="form-control" type="text" name="text" />
    </div>
  </div>
  <button class="btn btn-primary mt-2" type="submit">Adicionar</button>
</form>

{{#each list}}
  <div class="p-2">
    <h3 class="text-decoration-underline" id="{{titulo}}"><a
        onclick="edit('{{titulo}}')"
        href="#"
      >{{titulo}}</a></h3>
    <dl>
      {{#each subtitulos}}
        <dt>{{subtitulo}}</dt>
        {{#each items}}
          <dd><span>- {{item}}:</span>
            {{text}}
            <a href="/delete/{{titulo}}/{{subtitulo}}/{{item}}">
              <i class="bi bi-trash3-fill"></i>
            </a>
          </dd>
        {{/each}}
      {{/each}}
    </dl>
  </div>
  <hr />
{{/each}}